/* Page Layout */
* {
  margin: 0;
  padding: 0;
  font-family: inherit; }

body {
  background-color: #FAFAFF;
  font-family: 'Roboto', sans-serif;
  color: #30343F; }

h1 {
  font-size: 4rem; }

h2 {
  font-size: 2.5rem; }

h1, h2, h3 {
  font-family: 'Fira Sans', sans-serif; }

ul, li {
  list-style: none; }
