@import url(./layout.css);
@import url(./nav.css);
@import url(./home_header.css);
@import url(./skills.css);
@import url(./projects.css);
.contact-header {
  display: flex;
  flex-direction: column;
  align-items: center; }

.contact-info__list {
  display: flex; }

.contact-info__item {
  margin-left: 1rem; }

.contact-form {
  display: flex;
  flex-direction: column;
  width: 75%;
  max-width: 800px;
  margin: 0 auto; }
