.contact {
    @extend %center-child-vertical;
}

.contact-header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contact-info__list {
    display: flex;
}

.contact-info__item {
    margin-left: 1rem;
}

.contact-form {
    display: flex;
    flex-direction: column;
    width: 75%;
    max-width: 800px;
    margin: 0 auto;

    &__title {
        margin: 0 auto;
    }
}