/* main-header of HomePage */
.main-header {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 3rem 0;
    margin-bottom: 3rem;
    background-color: $white;
    
    &--right-col
    {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    &__img {
        width: 150px;
        border-radius: 50%;
        margin-bottom: 1rem;
    }

    &__container {
        padding-top: 37px;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 75%;
        max-width: 800px;
    }

    &__title {
        margin: 0 auto;
    }

    &__snippet {
        font-size: 2rem;
        font-weight: 100;
        color: $tertiary;
        margin-bottom: .5rem;
    }

    &__icon {
        font-size: 2rem;

        &:last-child {
            margin-left: 1rem;
        }
    }

    &__list {
        display: flex;
    }

    @media (min-width: 800px) 
    {
        padding: 9rem 0;
        &__title {
            display: flex;
            flex-direction: row;

            & > div:last-child {
                margin-left: 1rem;
            }
        }

        &__container {
            flex-direction: row;
        }

        &--right-col {
            margin-left: 5rem;
        }

    }
}