// Error page
.error {
    &__container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-size: 20rem;
        background-color: tomato;
        color: $black;
        height: 100vh;
        font-family: $main-font;
    }

    &__home-container > a {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    &__home-icon {
        font-size: 15rem;
        color: $white;
    }

    &__home-button {
        border: 1px solid $white;
        color: $white;
        padding: 4rem;
        font-size: 2rem;
    }
}