/* main-header of HomePage */
.main-header {
    max-width: 1200px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: $white;
    height: calc(100vh - 2rem);
    padding: 0;
    margin: 0 auto;
    
    &__img {
        width: 150px;
        border-radius: 50%;
        margin-bottom: 1rem;
        max-width: 75%;
        max-height: 65vh;
        width: auto;
        height: auto;
        @media(min-width: $medium-size) {
            max-width: 50vw;
            max-height: 50vh;

        }
        @media(min-width: $large-size) {
            max-height: 50vh;
            max-width: 33vw;
        }
    }

    &__container {
        padding-top: 37px;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 75%;

        @media (min-width: $large-size) {
            width: 90%;
            flex-direction: row;
            justify-content: space-evenly;
        }
    }

    &--right-col
    {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__title {
        margin: 0 auto;
        font-size: 6vw;
        font-weight: 500;
        text-transform: uppercase;

        @media (min-width: $large-size) {
            font-size: 5rem;            
        }
    }

    &__snippet {
        font-size: 5vw;
        font-weight: 100;
        color: $tertiary;
        margin-bottom: .5rem;
        
        font-size: 4vw;
        @media (min-width: $large-size) {
            font-size: 3rem;
            font-weight: 300;
        }
    }

    &__list {
        display: flex;
        justify-content: space-around;
    }

    &__icon {
        padding: .5rem;
        color: black;

        &:first-child {
            margin-left: 0;
        }

        & > a {
            display: flex;
            align-items: center;

            font-size: 10vw;

            @media(min-width: $medium-size) {
                font-size: 4vw;
            }

            @media (min-width: $large-size) {
                font-size: 4rem;
            }
        }
    }

    &__icon-text {
        margin-left: 1rem;
        display: none;
        @media(min-width: $medium-size) {
            display: inline;
        }
    }
}