/* main-header of HomePage */
.main-header {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 3rem 0;
    margin-bottom: 3rem;
    background-color: $white;
    @media (min-width: $large-size) 
    {
        padding: 9rem 0;
    }



    &__img {
        width: 150px;
        border-radius: 50%;
        margin-bottom: 1rem;
        width: 75%;
        @media(min-width: $medium-size) {
            width: 50%;
        }
    }

    &__container {
        padding-top: 37px;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 75%;

        @media (min-width: $large-size) {
            width: 90%;
            flex-direction: row;
            justify-content: space-evenly;
        }
    }

    &--right-col
    {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__title {
        margin: 0 auto;

        @media (min-width: $medium-size) {
            display: flex;
            flex-direction: row;
            font-size: 7rem;
            
            & > div:last-child {
                margin-left: 1rem;
            }
        }

        @media (min-width: $large-size) {
            font-size: 6vw;            
        }
    }

    &__snippet {
        font-size: 2rem;
        font-weight: 100;
        color: $tertiary;
        margin-bottom: .5rem;

        @media (min-width: $large-size) {
            font-size: 3vw;
        }
    }

    &__icon {
        font-size: 2rem;

        &:last-child {
            margin-left: 1rem;
        }
        @media (min-width: $large-size) {
            & > a {
                font-size: 2vw;
            }
        }
    }

    &__list {
        display: flex;
    }
}