// Colors Variables

$primary: #55c57a;
$secondary: #49515a;
$tertiary: #778492;

$white:  #fff;
$grey:  darken(#F5F5F5, 50%);
$lightGrey: darken($white, 33%);

$blue: #DAE3E7;
$black: #333;


// Transparent Colors
$lightGreen: #7ed56fcc;
$darkGreen: #28b483cc;

$lightOrange: #ffb900da;
$darkOrange: #ff6347da;


$lightBlue: #2998ffda;
$darkBlue: #5643fada;