// Footer section
footer {
    background-color: $black;
    color: $white;
    padding: 6rem 0;
}

.contact{
    color: $grey;

    &__container {
        max-width: 1200px;
        box-sizing: border-box;
        width: 97%;
        padding: 0 2rem;
    }

    &__title {
        color: tomato;
    }

    &__snippit {
        color: $grey;
        margin-bottom: 1rem;
    }

    &__form {
        display: flex;
        flex-direction: column;
    }

    &__input {
        width: auto;
        font-size: 2rem;
        margin-bottom: 1rem;
    }

    &__label {
        color: $grey;
    }

    &__submit-button {
        color: $white;
        font-size: 2rem;
        padding: 1rem;
        margin: 2rem 0 2rem auto;
        border: 2px solid $white;
    }

    &__link-list {
        display: flex;
        flex-direction: column;
        align-items: center;

        & > li {
            font-weight: 500;
            font-size: 2rem;
            padding: .5rem;
            & i {
                margin-right: 1.25rem;
            }
        }
    }

    @media (min-width: 800px) {

        &__container {
            margin: 0 auto;
            width: 75%;
            box-sizing: border-box;
        }

        &__row {
            display: flex;
            flex-direction: row;
        }

        &__form {
            display: flex;
            flex-grow: 1;
        }

        &__input {
            width: 100%;
        }

        &__link-container {
            display: flex;
            justify-content: center;
        }
    
        &__link-list {
            margin-left: 6rem;
            width: 285px;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
        } 

    }
}
