/* main-header of HomePage */
.main-header {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 3rem 0;
    margin-bottom: 3rem;
    background-color: $white;
    @media (min-width: $large-size) 
    {
        padding: 9rem 0;
    }
    
    &__img {
        width: 150px;
        border-radius: 50%;
        margin-bottom: 1rem;
        max-width: 75%;
        max-height: 65vh;
        width: auto;
        height: auto;
        @media(min-width: $medium-size) {
            max-width: 50vw;
            max-height: 50vh;

        }
        @media(min-width: $large-size) {
            max-height: 50vh;
            max-width: 33vw;
        }
    }

    &__container {
        padding-top: 37px;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 75%;

        @media (min-width: $large-size) {
            width: 90%;
            flex-direction: row;
            justify-content: space-evenly;
        }
    }

    &--right-col
    {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__title {
        margin: 0 auto;
        
        font-size: 15vw;

        @media (min-width: $medium-size) {
            display: flex;
            flex-direction: row;
            font-size: 8vw;
            
            & > div:last-child {
                margin-left: .5rem;
            }
        }

        @media (min-width: $large-size) {
            font-size: 6vw;            
        }
    }

    &__snippet {
        font-size: 5vw;
        font-weight: 100;
        color: $tertiary;
        margin-bottom: .5rem;

        font-size: 6vw;

        @media(min-width: $medium-size) {
            font-size: 4vw;
        }

        @media (min-width: $large-size) {
            font-size: 3vw;
        }
    }

    &__list {
        display: flex;
        justify-content: space-around;
    }

    &__icon {
        padding: 1rem;
        color: black;

        &:first-child {
            margin-left: 0;
        }

        & > a {
            display: flex;
            align-items: center;

            font-size: 10vw;

            @media(min-width: $medium-size) {
                font-size: 4vw;
            }

            @media (min-width: $large-size) {
                font-size: 2.5vw;
            }
        }
    }

    &__icon-text {
        margin-left: 1rem;
        display: none;
        @media(min-width: $medium-size) {
            display: inline;
        }
    }
}