/* Main Nav Bar */
.nav-bar {
    display: flex;
    flex-direction: column;
    background-color: $black;    
    z-index: 1;
    position: fixed;
    width: 100%;
    color: $white;
    font-size: 3rem;
    border-bottom: 1px solid $white;

    &__logo {
        padding-top: 1rem;
        & > a {
            font-family: $logo-font;
            font-size: 3rem;
        }
    }

    &__name {
        display: flex;
        margin-left: 1rem;
        font-size: 2rem;
        &-container {
            position: relative;
        }
        &--last {
        //     color: $white;
        //     position: absolute;
        //     top: .5em;
            // left: 1rem;
            margin-left: 1rem;
        }
    }

    &__fixed {
        display:flex;
        align-items: center;
    }

    &__container {
        display: flex;
        flex-direction: column;
        width: 95%;
        margin: 0 auto;
    }

    &__list {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__item {
        margin: 1.25rem;

        & > a {
            height: 100%;
            width: 100%;
        }

        &:last-child {
            margin-bottom: 3rem;
        }
    }

    &__menu-button {
        margin-left: auto;
        color: $white;
        font-size: 2.5rem;
        font-family: $heading-font;
    }

    &__notification {
        background-color: tomato;
        font: $black;
        text-align: center;
        display: none;
    }

    @media(min-width: 900px) {

        &__container {
            display: flex;
            flex-direction: row;
            box-sizing: border-box;
            width: 75%;
            padding: 0 2rem;
        }

        &__fixed {
            display: flex;
            flex-direction: row;
        }

        &__navigation {
            display: flex;
            margin-left: auto;
        }

        &__list {
            display: flex !important;
            flex-direction: row;
        }

        &__menu-button {
            display: none;
        }

        &__item {
            font-size: 2rem;
            margin-left: 2rem;
            &:last-child {
                margin-bottom: 1.25rem;
            }
        }
    }
}