/* Skills Section */
.skills {
    @extend %center-child-vertical;

    &__container {
        display: flex;
        margin-bottom: 1rem;
        justify-content: space-around;
    }
}

.skill {
    box-sizing: border-box;
    border: 1px solid #efefef;
    padding: 1rem;
    width: 23%;

    &__title {
        margin: 0 auto;
        margin-bottom: 1rem;
        color: tomato;
    }

    &__item {
        list-style-type: circle;
        padding-left: 1rem; 
        list-style-position: inside;
    }
}

.tools {
    display: flex;
    justify-content: center;

    &__container {
        display: inline-flex;
        align-self: center;
    }

    &__list {
        display: flex;
        margin-left: 1rem;
    }

    &__item {
        margin-left: .5rem;
    }
}