/* Skills Section */
.skills {
    @extend %center-child-vertical;

    &__container {
        display: flex;
        flex-direction: column;
        margin-bottom: 1rem;
        align-items: center;

        @media (min-width: $medium-size) {
            flex-direction: row;
            justify-content: space-around;
            align-items: flex-start;
        }
    }
}

.skill {
    box-sizing: border-box;
    width: 100%;
    margin-bottom: 2rem;
    @media (min-width: $medium-size) {
        box-sizing: border-box;
        border: 1px solid #efefef;
        padding: 1rem;
        width: 30%;
    }
    &__title {
        margin: 0 auto;
        margin-bottom: 1rem;
        color: tomato;
        font-weight: bold;
    }

    &__item {
        list-style-type: circle;
        padding-left: 1rem; 
        list-style-position: inside;
    }
}

.tools {
    display: flex;
    justify-content: center;

    &__container {
        display: inline-flex;
        align-self: center;
    }

    &__list {
        display: flex;
        margin-left: 1rem;
    }

    &__item {
        margin-left: .5rem;
    }
}