/* Page Layout */


* {
    margin: 0;
    padding: 0;
    font-family: inherit;
}

html {
    font-size: 10px;
}

body {
    background-color: $blue;
    font-family: $main-font;
    color: $black;
    font-size: 2rem;
}

.section {
    box-sizing: border-box;
    width: 97%;
    margin: 0 auto 4rem auto;
    background-color: $white;
    padding: 4rem 2rem;
    @extend %center-child-vertical;
    
    &__title {
        margin-right: auto;
        margin-bottom: 1rem;
    }
    @media(min-width: 800px) {
        width: 75%;
        max-width: 900px;
    }
}

h1 {
    font-size: 5rem;
}

h2 {
    font-size: 4rem;
}

h3 {
    font-size: 3rem;
}

h1, h2, h3 {
    color: $secondary;
    font-family: $heading-font;
}

ul, li {
    list-style: none;
}

a, a:link {
    font-size: 2rem;
    color: $primary;
    text-decoration: inherit;
}

a:visited {
    color: darken($primary, 15%);
}

button {
    border: none;
    background-color: inherit;
}