// Colors Variables
// I don't like the names primary... rather just have the color names
$primary: #3AAA64;
$secondary: #49515a;
$tertiary: #778492;

$white:  #fff;
$grey:  darken(#F5F5F5, 50%);

$blue: #DAE3E7;
$black: #25292E;