// Font variables
// is there a better way to import?
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,700|Sacramento|Roboto+Slab');

$heading-font: 'Roboto', sans-serif;
$main-font: 'Roboto', sans-serif;
$logo-font: 'Sacramento', cursive;
