/* Page Layout */
$primary: #3AAA64;
$secondary: #49515a;
$tertiary: #778492;

$white:  #F5F5F5;
$blue: #DAE3E7;
$black: #434343;

* {
    margin: 0;
    padding: 0;
    font-family: inherit;
}

body {
    background-color: $white;
    font-family: 'Roboto', sans-serif;
    color: $black;
}

h1 {
    font-size: 4rem;
}

h2 {
    font-size: 2.5rem;
}

h1, h2, h3 {
    color: $secondary;
    font-family: 'Fira Sans', sans-serif;
}

ul, li {
    list-style: none;
}

a {
    color: inherit;
    text-decoration: inherit;
}