/* Main Nav Bar */
@import "./_base.scss";

.main-nav {
    background-color: $primary;
    z-index: 1;
    position: fixed;
    width: 100%;
    color: $secondary;
}

.main-nav__container {
    display: flex;
    width: 75%;
    max-width: 800px;
    margin: 0 auto;
    align-items: center;
}

.main-nav__logo {
    font-family: "Libre Barcode 39 Extended Text", monospace;
    padding-top: .33rem;
    font-size: 2rem;
}

.main-nav__name {
    margin-left: 2rem;
}

.main-nav__list {
    width: 25%;
    display: flex;
    margin-left: auto;
    justify-content: space-around;
}