/* Skills Section */
@import "./util.scss";

.skills {
    @extend %center-child-vertical;

    &__title {
        margin: 0 auto;
        margin-bottom: 1rem;
    }

    &__container {
        display: flex;
        max-width: 800px;
        width: 75%;
        justify-content: space-evenly;
        margin-bottom: 1rem;
    }
}

.skill {
    box-sizing: border-box;
    border: 1px solid #efefef;
    padding: 1rem;
    width: 23%;

    &__item {
        text-align: center;
    }
}

.tools {
    display: flex;
    justify-content: center;

    &__container {
        display: inline-flex;
        align-self: center;
    }

    &__list {
        display: flex;
        margin-left: 1rem;
    }

    &__item {
        margin-left: .5rem;
    }
}